body {
  background-color: #FFFFFF;
  color: #C6C7C4;
  font-family: "Times New Roman", Times, serif;
}

h2 {
  padding: 20px;
  margin:0px;
  background-color: #55ACEE;
  color: #FFFFFF;
  font-family: "Times New Roman", Times, serif;
  text-align: center
}

h3 {
  margin: 10px;
  margin-left: 0px;
}

p {
  margin: 4px;
  text-align: center
}

div {
  padding: 6px;
}

input {
  margin : 10px;
}


button {
   background-color: #55ACEE;
   border: none;
   color: white;
   padding: 4px 20px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 10px;
}

.input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 25%;

}

ol {
    background: #55ACEE;
    padding: 10px;
    width: 50%
}

ol li {
    padding: 1px;
    margin-left: 18px;
}

#top_ten{
  color: #FFFFFF;
  position: absolute;
  left: 13.8px;
  top: 125px;
  width: 17.3%
}

#top_trending{
  font-family: "Times New Roman", Times, serif;
  background: #55ACEE;
  color: #FFFFFF;
  position: absolute;
  left: 13.8px;
  top: 112px;
  width: 17.9%
}

#search_tweets{
  position: absolute;
  left: 450px;
  top: 79px;
}

#stop_button{
  position: absolute;
  left: 800px;
  top: 82px;
}

#tweet_real_time{
  position: absolute;
  left: 325px;
  top: 400px;
  color: #FFFFFF;
}

#search_button{
  position: absolute;
  left: 460px;
  top: 130px;
}

#live_tweet{
  position: absolute;
  padding: 10px;
  left: 321px;
  top: 378px;
  color: #FFFFFF;
  background: #55ACEE;
  width: 50%

}
