<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS = false; L_NO_TOUCH = false; L_DISABLE_3D = false;</script>
    <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.0.0/leaflet.markercluster-src.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.0.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.0.0/MarkerCluster.Default.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.0.0/MarkerCluster.css" />
    <link rel="stylesheet" href="https://rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css" />
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <style> #map_f418393c78b44efdaae3d8e47e50b4e1 {
                position : relative;
                width : 100.0%;
                height: 100.0%;
                left: 0.0%;
                top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_f418393c78b44efdaae3d8e47e50b4e1" ></div>
        
</body>
<script>    
    

            
                var southWest = L.latLng(-90, -180);
                var northEast = L.latLng(90, 180);
                var bounds = L.latLngBounds(southWest, northEast);
            

            var map_f418393c78b44efdaae3d8e47e50b4e1 = L.map(
                                  'map_f418393c78b44efdaae3d8e47e50b4e1',
                                  {center: [40,-120],
                                  zoom: 3,
                                  maxBounds: bounds,
                                  layers: [],
                                  worldCopyJump: false,
                                  crs: L.CRS.EPSG3857
                                 });
            
        
    
            var tile_layer_819995b9d647407f8a8fdc3d46485eb6 = L.tileLayer(
                'https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.jpg',
                {
                    maxZoom: 18,
                    minZoom: 1,
                    continuousWorld: false,
                    noWrap: false,
                    attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, under <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>. Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY SA</a>.',
                    detectRetina: false
                    }
                ).addTo(map_f418393c78b44efdaae3d8e47e50b4e1);

        
    

            var marker_9d37ff9b79de4da489824871e4b2bfbb = L.marker(
                [43.0605671,-88.1064786],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_f418393c78b44efdaae3d8e47e50b4e1);
            
    
            var popup_f44555c9afa5420ab0014a48a6ed26dd = L.popup({maxWidth: '300'});

            
                var html_55e0fb10fdf74b798a7f2d8ae2936207 = $('<div id="html_55e0fb10fdf74b798a7f2d8ae2936207" style="width: 100.0%; height: 100.0%;">Brookfield,WI</div>')[0];
                popup_f44555c9afa5420ab0014a48a6ed26dd.setContent(html_55e0fb10fdf74b798a7f2d8ae2936207);
            

            marker_9d37ff9b79de4da489824871e4b2bfbb.bindPopup(popup_f44555c9afa5420ab0014a48a6ed26dd);

            
        
    

            var marker_2d4c86c2f72e4b9ca7f189b5d561b7b0 = L.marker(
                [39.7837304,-100.4458824],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_f418393c78b44efdaae3d8e47e50b4e1);
            
    
            var popup_9d975eba8221427884385f8039fa7cf5 = L.popup({maxWidth: '300'});

            
                var html_dd3adaf50a604bf283307738d6a118e5 = $('<div id="html_dd3adaf50a604bf283307738d6a118e5" style="width: 100.0%; height: 100.0%;">United States</div>')[0];
                popup_9d975eba8221427884385f8039fa7cf5.setContent(html_dd3adaf50a604bf283307738d6a118e5);
            

            marker_2d4c86c2f72e4b9ca7f189b5d561b7b0.bindPopup(popup_9d975eba8221427884385f8039fa7cf5);

            
        
    

            var marker_12ccea551bfa4bdfa9903928bad09244 = L.marker(
                [37.40088,-79.1844922945909],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_f418393c78b44efdaae3d8e47e50b4e1);
            
    
            var popup_56c2a053cd82426e87b957a660e52971 = L.popup({maxWidth: '300'});

            
                var html_6d4c5f37419347e29067fce904431cc6 = $('<div id="html_6d4c5f37419347e29067fce904431cc6" style="width: 100.0%; height: 100.0%;">Lynchburg, VA</div>')[0];
                popup_56c2a053cd82426e87b957a660e52971.setContent(html_6d4c5f37419347e29067fce904431cc6);
            

            marker_12ccea551bfa4bdfa9903928bad09244.bindPopup(popup_56c2a053cd82426e87b957a660e52971);

            
        
    

            var marker_e04ab0d2e9ab425f82e8be666c45cdd6 = L.marker(
                [19.4326009,-99.1333415],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_f418393c78b44efdaae3d8e47e50b4e1);
            
    
            var popup_7f098a0b097e4c8dada4e2c3afcded29 = L.popup({maxWidth: '300'});

            
                var html_e966505913844d6eb7d6c73ef92c0c1a = $('<div id="html_e966505913844d6eb7d6c73ef92c0c1a" style="width: 100.0%; height: 100.0%;">México</div>')[0];
                popup_7f098a0b097e4c8dada4e2c3afcded29.setContent(html_e966505913844d6eb7d6c73ef92c0c1a);
            

            marker_e04ab0d2e9ab425f82e8be666c45cdd6.bindPopup(popup_7f098a0b097e4c8dada4e2c3afcded29);

            
        
    

            var marker_1e65b9391dd843e89f639e01827dc93f = L.marker(
                [52.7954791,-0.540240236617432],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_f418393c78b44efdaae3d8e47e50b4e1);
            
    
            var popup_628207671e604d17b1c44d2b577f2120 = L.popup({maxWidth: '300'});

            
                var html_0417963f6b054e5d8fa8c89525d47b5e = $('<div id="html_0417963f6b054e5d8fa8c89525d47b5e" style="width: 100.0%; height: 100.0%;">England</div>')[0];
                popup_628207671e604d17b1c44d2b577f2120.setContent(html_0417963f6b054e5d8fa8c89525d47b5e);
            

            marker_1e65b9391dd843e89f639e01827dc93f.bindPopup(popup_628207671e604d17b1c44d2b577f2120);

            
        
    

            var marker_76f323463f994e4982e0166a34c14d3b = L.marker(
                [-32.9158402,-68.8594326],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_f418393c78b44efdaae3d8e47e50b4e1);
            
    
            var popup_bbc9b578e27c4762a0c737b568ed8109 = L.popup({maxWidth: '300'});

            
                var html_2cada8e24edf4d89807445b966b2d4ac = $('<div id="html_2cada8e24edf4d89807445b966b2d4ac" style="width: 100.0%; height: 100.0%;">Cave City, Argentina</div>')[0];
                popup_bbc9b578e27c4762a0c737b568ed8109.setContent(html_2cada8e24edf4d89807445b966b2d4ac);
            

            marker_76f323463f994e4982e0166a34c14d3b.bindPopup(popup_bbc9b578e27c4762a0c737b568ed8109);

            
        
    

            var marker_b59d2561b1784ebc8f2b66a74ab53705 = L.marker(
                [52.628606,1.29227],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_f418393c78b44efdaae3d8e47e50b4e1);
            
    
            var popup_058624cc4a9a4585b6e0bea5caa31b7f = L.popup({maxWidth: '300'});

            
                var html_65f4201f5b014152a3781b17679d88be = $('<div id="html_65f4201f5b014152a3781b17679d88be" style="width: 100.0%; height: 100.0%;">Norwich, England</div>')[0];
                popup_058624cc4a9a4585b6e0bea5caa31b7f.setContent(html_65f4201f5b014152a3781b17679d88be);
            

            marker_b59d2561b1784ebc8f2b66a74ab53705.bindPopup(popup_058624cc4a9a4585b6e0bea5caa31b7f);

            
        
    

            var marker_2bd23d64896f4bd5b1b4e3bf6cb4725f = L.marker(
                [45.4011354,-75.7046445271709],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_f418393c78b44efdaae3d8e47e50b4e1);
            
    
            var popup_5423f3b183c64b57b3ff01ae9db711ef = L.popup({maxWidth: '300'});

            
                var html_dbb18262eda644b0a0315c73e283fc26 = $('<div id="html_dbb18262eda644b0a0315c73e283fc26" style="width: 100.0%; height: 100.0%;">on earth</div>')[0];
                popup_5423f3b183c64b57b3ff01ae9db711ef.setContent(html_dbb18262eda644b0a0315c73e283fc26);
            

            marker_2bd23d64896f4bd5b1b4e3bf6cb4725f.bindPopup(popup_5423f3b183c64b57b3ff01ae9db711ef);

            
        
    

            var marker_7764603a392046fb8752a4b8387b3586 = L.marker(
                [52.865196,-7.9794598],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_f418393c78b44efdaae3d8e47e50b4e1);
            
    
            var popup_441fa99e9db543c1869c1be8dd0a0e5c = L.popup({maxWidth: '300'});

            
                var html_6f603a07018c47e0af4e3e6bc3f19026 = $('<div id="html_6f603a07018c47e0af4e3e6bc3f19026" style="width: 100.0%; height: 100.0%;">Ireland</div>')[0];
                popup_441fa99e9db543c1869c1be8dd0a0e5c.setContent(html_6f603a07018c47e0af4e3e6bc3f19026);
            

            marker_7764603a392046fb8752a4b8387b3586.bindPopup(popup_441fa99e9db543c1869c1be8dd0a0e5c);

            
        
    

            var marker_3048565c2a7e4e09b6f8bf88ff754faa = L.marker(
                [-32.9158402,-68.8594326],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_f418393c78b44efdaae3d8e47e50b4e1);
            
    
            var popup_e0cef2732a774ee8acded960f6e3dd57 = L.popup({maxWidth: '300'});

            
                var html_a9642b2d7b1e49d28249c250845f7d98 = $('<div id="html_a9642b2d7b1e49d28249c250845f7d98" style="width: 100.0%; height: 100.0%;">Cave City, Argentina</div>')[0];
                popup_e0cef2732a774ee8acded960f6e3dd57.setContent(html_a9642b2d7b1e49d28249c250845f7d98);
            

            marker_3048565c2a7e4e09b6f8bf88ff754faa.bindPopup(popup_e0cef2732a774ee8acded960f6e3dd57);

            
        
</script>