<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS = false; L_NO_TOUCH = false; L_DISABLE_3D = false;</script>
    <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.0.0/leaflet.markercluster-src.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.0.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.0.0/MarkerCluster.Default.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.0.0/MarkerCluster.css" />
    <link rel="stylesheet" href="https://rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css" />
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <style> #map_10d16a20ccb04589bb8964c2034f16aa {
                position : relative;
                width : 100.0%;
                height: 100.0%;
                left: 0.0%;
                top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_10d16a20ccb04589bb8964c2034f16aa" ></div>
        
</body>
<script>    
    

            
                var southWest = L.latLng(-90, -180);
                var northEast = L.latLng(90, 180);
                var bounds = L.latLngBounds(southWest, northEast);
            

            var map_10d16a20ccb04589bb8964c2034f16aa = L.map(
                                  'map_10d16a20ccb04589bb8964c2034f16aa',
                                  {center: [40,-120],
                                  zoom: 3,
                                  maxBounds: bounds,
                                  layers: [],
                                  worldCopyJump: false,
                                  crs: L.CRS.EPSG3857
                                 });
            
        
    
            var tile_layer_7844138c855940fba945f6472c262a50 = L.tileLayer(
                'https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.jpg',
                {
                    maxZoom: 18,
                    minZoom: 1,
                    continuousWorld: false,
                    noWrap: false,
                    attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, under <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>. Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY SA</a>.',
                    detectRetina: false
                    }
                ).addTo(map_10d16a20ccb04589bb8964c2034f16aa);

        
    

            var marker_2eabd226aca14c27b1659c5b26482eb8 = L.marker(
                [51.0834196,10.4234469],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_10d16a20ccb04589bb8964c2034f16aa);
            
    
            var popup_e3490a7fb0f34ab8a3abc78126592b75 = L.popup({maxWidth: '300'});

            
                var html_c084c2ceeb2b488bba36f2ee367dfdec = $('<div id="html_c084c2ceeb2b488bba36f2ee367dfdec" style="width: 100.0%; height: 100.0%;">Deutschland</div>')[0];
                popup_e3490a7fb0f34ab8a3abc78126592b75.setContent(html_c084c2ceeb2b488bba36f2ee367dfdec);
            

            marker_2eabd226aca14c27b1659c5b26482eb8.bindPopup(popup_e3490a7fb0f34ab8a3abc78126592b75);

            
        
    

            var marker_7217277f989c4609b41865b6a5fe4944 = L.marker(
                [43.1561681,-75.8449945],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_10d16a20ccb04589bb8964c2034f16aa);
            
    
            var popup_bfc87eff81eb49d480d123eb44df0850 = L.popup({maxWidth: '300'});

            
                var html_77db9d726c5049f4b94e58c813e815dc = $('<div id="html_77db9d726c5049f4b94e58c813e815dc" style="width: 100.0%; height: 100.0%;">NY</div>')[0];
                popup_bfc87eff81eb49d480d123eb44df0850.setContent(html_77db9d726c5049f4b94e58c813e815dc);
            

            marker_7217277f989c4609b41865b6a5fe4944.bindPopup(popup_bfc87eff81eb49d480d123eb44df0850);

            
        
    

            var marker_8c12db4d44aa4dc693f00fb831c07dec = L.marker(
                [34.2331373,-102.4107492],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_10d16a20ccb04589bb8964c2034f16aa);
            
    
            var popup_05abfffa15de4743b75ec93b31f8d5bb = L.popup({maxWidth: '300'});

            
                var html_315f644f168d40279027c92b25579771 = $('<div id="html_315f644f168d40279027c92b25579771" style="width: 100.0%; height: 100.0%;">Earth </div>')[0];
                popup_05abfffa15de4743b75ec93b31f8d5bb.setContent(html_315f644f168d40279027c92b25579771);
            

            marker_8c12db4d44aa4dc693f00fb831c07dec.bindPopup(popup_05abfffa15de4743b75ec93b31f8d5bb);

            
        
    

            var marker_bd75f3e5945f4e7d9503b07cbe0deee7 = L.marker(
                [30.2240897,-92.0198426],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_10d16a20ccb04589bb8964c2034f16aa);
            
    
            var popup_ba1dae2d8efd4e85a8f82d094ff5b0ea = L.popup({maxWidth: '300'});

            
                var html_2c066eeccbff4877a6761d813829c9e9 = $('<div id="html_2c066eeccbff4877a6761d813829c9e9" style="width: 100.0%; height: 100.0%;">Lafayette, LA</div>')[0];
                popup_ba1dae2d8efd4e85a8f82d094ff5b0ea.setContent(html_2c066eeccbff4877a6761d813829c9e9);
            

            marker_bd75f3e5945f4e7d9503b07cbe0deee7.bindPopup(popup_ba1dae2d8efd4e85a8f82d094ff5b0ea);

            
        
    

            var marker_5e1977dcd5a64a369f2f7d46c16a1e4c = L.marker(
                [63.445531,10.9032872],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_10d16a20ccb04589bb8964c2034f16aa);
            
    
            var popup_692bcfab0f6641c29d3dffe09d34889b = L.popup({maxWidth: '300'});

            
                var html_99fccc3de4bb4782946af5505e775463 = $('<div id="html_99fccc3de4bb4782946af5505e775463" style="width: 100.0%; height: 100.0%;">Hell</div>')[0];
                popup_692bcfab0f6641c29d3dffe09d34889b.setContent(html_99fccc3de4bb4782946af5505e775463);
            

            marker_5e1977dcd5a64a369f2f7d46c16a1e4c.bindPopup(popup_692bcfab0f6641c29d3dffe09d34889b);

            
        
    

            var marker_a8a5c7b3f14b4bb2a4ff15f984138dba = L.marker(
                [43.0605671,-88.1064786],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_10d16a20ccb04589bb8964c2034f16aa);
            
    
            var popup_73e9ce6809994bd69f3ca7fe863b4e84 = L.popup({maxWidth: '300'});

            
                var html_1b4eec3c95b044beab52b179ac8df29c = $('<div id="html_1b4eec3c95b044beab52b179ac8df29c" style="width: 100.0%; height: 100.0%;">Brookfield,WI</div>')[0];
                popup_73e9ce6809994bd69f3ca7fe863b4e84.setContent(html_1b4eec3c95b044beab52b179ac8df29c);
            

            marker_a8a5c7b3f14b4bb2a4ff15f984138dba.bindPopup(popup_73e9ce6809994bd69f3ca7fe863b4e84);

            
        
    

            var marker_a5ea60f900bb47218b6d6d7f48c1edcc = L.marker(
                [39.7837304,-100.4458824],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_10d16a20ccb04589bb8964c2034f16aa);
            
    
            var popup_ae8b96eb7c1d4320be9542d5072cf420 = L.popup({maxWidth: '300'});

            
                var html_d3baaae098354b18b6cb4feb2abd4118 = $('<div id="html_d3baaae098354b18b6cb4feb2abd4118" style="width: 100.0%; height: 100.0%;">United States</div>')[0];
                popup_ae8b96eb7c1d4320be9542d5072cf420.setContent(html_d3baaae098354b18b6cb4feb2abd4118);
            

            marker_a5ea60f900bb47218b6d6d7f48c1edcc.bindPopup(popup_ae8b96eb7c1d4320be9542d5072cf420);

            
        
    

            var marker_cf0494516fe94eb4b43d775865f3b26f = L.marker(
                [37.40088,-79.1844922945909],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_10d16a20ccb04589bb8964c2034f16aa);
            
    
            var popup_cb507398d54b454d857c9d3b7886b575 = L.popup({maxWidth: '300'});

            
                var html_c7770e63ca4344ea9180b14896e40d22 = $('<div id="html_c7770e63ca4344ea9180b14896e40d22" style="width: 100.0%; height: 100.0%;">Lynchburg, VA</div>')[0];
                popup_cb507398d54b454d857c9d3b7886b575.setContent(html_c7770e63ca4344ea9180b14896e40d22);
            

            marker_cf0494516fe94eb4b43d775865f3b26f.bindPopup(popup_cb507398d54b454d857c9d3b7886b575);

            
        
    

            var marker_fd1c0a3abeda4ae892d780c8e37f8785 = L.marker(
                [19.4326009,-99.1333415],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_10d16a20ccb04589bb8964c2034f16aa);
            
    
            var popup_6600a91edf1d4f99b7d4219b58f9470b = L.popup({maxWidth: '300'});

            
                var html_54bef694931e4f2088640f1c8fa99dba = $('<div id="html_54bef694931e4f2088640f1c8fa99dba" style="width: 100.0%; height: 100.0%;">México</div>')[0];
                popup_6600a91edf1d4f99b7d4219b58f9470b.setContent(html_54bef694931e4f2088640f1c8fa99dba);
            

            marker_fd1c0a3abeda4ae892d780c8e37f8785.bindPopup(popup_6600a91edf1d4f99b7d4219b58f9470b);

            
        
    

            var marker_99a9854f9662483f80fa785cc64ae47e = L.marker(
                [52.7954791,-0.540240236617432],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_10d16a20ccb04589bb8964c2034f16aa);
            
    
            var popup_4985d0c38049453094e7a788e6de9803 = L.popup({maxWidth: '300'});

            
                var html_7f6badbe2c4343deac3dbba68b6559d4 = $('<div id="html_7f6badbe2c4343deac3dbba68b6559d4" style="width: 100.0%; height: 100.0%;">England</div>')[0];
                popup_4985d0c38049453094e7a788e6de9803.setContent(html_7f6badbe2c4343deac3dbba68b6559d4);
            

            marker_99a9854f9662483f80fa785cc64ae47e.bindPopup(popup_4985d0c38049453094e7a788e6de9803);

            
        
    

            var marker_9a4add28af544ea6b2890a7d9e4c502b = L.marker(
                [-32.9158402,-68.8594326],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_10d16a20ccb04589bb8964c2034f16aa);
            
    
            var popup_b05e0ada92754befbacad4ab03fe83ea = L.popup({maxWidth: '300'});

            
                var html_c3d96d2c74604455b1060599e083d37a = $('<div id="html_c3d96d2c74604455b1060599e083d37a" style="width: 100.0%; height: 100.0%;">Cave City, Argentina</div>')[0];
                popup_b05e0ada92754befbacad4ab03fe83ea.setContent(html_c3d96d2c74604455b1060599e083d37a);
            

            marker_9a4add28af544ea6b2890a7d9e4c502b.bindPopup(popup_b05e0ada92754befbacad4ab03fe83ea);

            
        
    

            var marker_f32a2c443e2846c7a0be3100a8d894c6 = L.marker(
                [52.628606,1.29227],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_10d16a20ccb04589bb8964c2034f16aa);
            
    
            var popup_25daa6977c884b82b77021ecb20565be = L.popup({maxWidth: '300'});

            
                var html_cd1b76edb21c415991dd806822453528 = $('<div id="html_cd1b76edb21c415991dd806822453528" style="width: 100.0%; height: 100.0%;">Norwich, England</div>')[0];
                popup_25daa6977c884b82b77021ecb20565be.setContent(html_cd1b76edb21c415991dd806822453528);
            

            marker_f32a2c443e2846c7a0be3100a8d894c6.bindPopup(popup_25daa6977c884b82b77021ecb20565be);

            
        
    

            var marker_b93e698234804575be5202aa29ad3007 = L.marker(
                [45.4011354,-75.7046445271709],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_10d16a20ccb04589bb8964c2034f16aa);
            
    
            var popup_c0f760020ffe47b99dbfe84a4f1483e1 = L.popup({maxWidth: '300'});

            
                var html_cd83fe2a8bf24ef8a8f8174ce112aac8 = $('<div id="html_cd83fe2a8bf24ef8a8f8174ce112aac8" style="width: 100.0%; height: 100.0%;">on earth</div>')[0];
                popup_c0f760020ffe47b99dbfe84a4f1483e1.setContent(html_cd83fe2a8bf24ef8a8f8174ce112aac8);
            

            marker_b93e698234804575be5202aa29ad3007.bindPopup(popup_c0f760020ffe47b99dbfe84a4f1483e1);

            
        
    

            var marker_b8fa6812cfc841298f6f2046dd66e52c = L.marker(
                [52.865196,-7.9794598],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_10d16a20ccb04589bb8964c2034f16aa);
            
    
            var popup_fc1785fb3911449aa2bcd5b7f5b6fa15 = L.popup({maxWidth: '300'});

            
                var html_d38f54735a254486a42775b388b53bf8 = $('<div id="html_d38f54735a254486a42775b388b53bf8" style="width: 100.0%; height: 100.0%;">Ireland</div>')[0];
                popup_fc1785fb3911449aa2bcd5b7f5b6fa15.setContent(html_d38f54735a254486a42775b388b53bf8);
            

            marker_b8fa6812cfc841298f6f2046dd66e52c.bindPopup(popup_fc1785fb3911449aa2bcd5b7f5b6fa15);

            
        
    

            var marker_7a2138fd33bc4554848809b6974549fb = L.marker(
                [-32.9158402,-68.8594326],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_10d16a20ccb04589bb8964c2034f16aa);
            
    
            var popup_10567a5475924c4f8ae8a8fad2cae46a = L.popup({maxWidth: '300'});

            
                var html_645e549ceee64eec921972c0666f6dfb = $('<div id="html_645e549ceee64eec921972c0666f6dfb" style="width: 100.0%; height: 100.0%;">Cave City, Argentina</div>')[0];
                popup_10567a5475924c4f8ae8a8fad2cae46a.setContent(html_645e549ceee64eec921972c0666f6dfb);
            

            marker_7a2138fd33bc4554848809b6974549fb.bindPopup(popup_10567a5475924c4f8ae8a8fad2cae46a);

            
        
    

            var marker_61d129c48f344d08afe2d0434a761e62 = L.marker(
                [-32.9158402,-68.8594326],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_10d16a20ccb04589bb8964c2034f16aa);
            
    
            var popup_26afdc87f6994084a9b0bd37aee401fc = L.popup({maxWidth: '300'});

            
                var html_48b1bb6b44a347fc91888b3a965e479c = $('<div id="html_48b1bb6b44a347fc91888b3a965e479c" style="width: 100.0%; height: 100.0%;">Cave City, Argentina</div>')[0];
                popup_26afdc87f6994084a9b0bd37aee401fc.setContent(html_48b1bb6b44a347fc91888b3a965e479c);
            

            marker_61d129c48f344d08afe2d0434a761e62.bindPopup(popup_26afdc87f6994084a9b0bd37aee401fc);

            
        
    

            var marker_6ba15eab56484b0bb62c677d188fc31a = L.marker(
                [34.8028661,-86.971674],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_10d16a20ccb04589bb8964c2034f16aa);
            
    
            var popup_3c0bd8a6332448c28fe1c202623dd79c = L.popup({maxWidth: '300'});

            
                var html_2392dcad2add4b2292286bf983e8a55d = $('<div id="html_2392dcad2add4b2292286bf983e8a55d" style="width: 100.0%; height: 100.0%;">Athens, AL</div>')[0];
                popup_3c0bd8a6332448c28fe1c202623dd79c.setContent(html_2392dcad2add4b2292286bf983e8a55d);
            

            marker_6ba15eab56484b0bb62c677d188fc31a.bindPopup(popup_3c0bd8a6332448c28fe1c202623dd79c);

            
        
    

            var marker_dfa4a6bb5bd844f29dea9c11cb73cdcb = L.marker(
                [52.3745403,4.89797550561798],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_10d16a20ccb04589bb8964c2034f16aa);
            
    
            var popup_e1627ec3a5ee4fdfb4d78041a869dbf5 = L.popup({maxWidth: '300'});

            
                var html_15f9758ee4b34250b8a8b68cdc84dc0a = $('<div id="html_15f9758ee4b34250b8a8b68cdc84dc0a" style="width: 100.0%; height: 100.0%;">Amsterdam</div>')[0];
                popup_e1627ec3a5ee4fdfb4d78041a869dbf5.setContent(html_15f9758ee4b34250b8a8b68cdc84dc0a);
            

            marker_dfa4a6bb5bd844f29dea9c11cb73cdcb.bindPopup(popup_e1627ec3a5ee4fdfb4d78041a869dbf5);

            
        
</script>