<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS = false; L_NO_TOUCH = false; L_DISABLE_3D = false;</script>
    <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.0.0/leaflet.markercluster-src.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.0.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.0.0/MarkerCluster.Default.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.0.0/MarkerCluster.css" />
    <link rel="stylesheet" href="https://rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css" />
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <style> #map_c8c0d7cf202343939fdccfde8e6ac4e9 {
                position : relative;
                width : 100.0%;
                height: 100.0%;
                left: 0.0%;
                top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_c8c0d7cf202343939fdccfde8e6ac4e9" ></div>
        
</body>
<script>    
    

            
                var southWest = L.latLng(-90, -180);
                var northEast = L.latLng(90, 180);
                var bounds = L.latLngBounds(southWest, northEast);
            

            var map_c8c0d7cf202343939fdccfde8e6ac4e9 = L.map(
                                  'map_c8c0d7cf202343939fdccfde8e6ac4e9',
                                  {center: [40,-120],
                                  zoom: 3,
                                  maxBounds: bounds,
                                  layers: [],
                                  worldCopyJump: false,
                                  crs: L.CRS.EPSG3857
                                 });
            
        
    
            var tile_layer_a67c46437d8a482092875a3168c72183 = L.tileLayer(
                'https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.jpg',
                {
                    maxZoom: 18,
                    minZoom: 1,
                    continuousWorld: false,
                    noWrap: false,
                    attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, under <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>. Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY SA</a>.',
                    detectRetina: false
                    }
                ).addTo(map_c8c0d7cf202343939fdccfde8e6ac4e9);

        
    

            var marker_dddaee43076445738acdc1b8841ee949 = L.marker(
                [44.9772995,-93.2654691],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c8c0d7cf202343939fdccfde8e6ac4e9);
            
    
            var popup_99c04b23f25e4402a857fb93fb4b14f3 = L.popup({maxWidth: '300'});

            
                var html_c16e8332de9642ee894e210ac55be9ad = $('<div id="html_c16e8332de9642ee894e210ac55be9ad" style="width: 100.0%; height: 100.0%;">Minneapolis, MN </div>')[0];
                popup_99c04b23f25e4402a857fb93fb4b14f3.setContent(html_c16e8332de9642ee894e210ac55be9ad);
            

            marker_dddaee43076445738acdc1b8841ee949.bindPopup(popup_99c04b23f25e4402a857fb93fb4b14f3);

            
        
    

            var marker_66ed6389506a40ccbf2ded63a37e1602 = L.marker(
                [-24.7158699,133.09227],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c8c0d7cf202343939fdccfde8e6ac4e9);
            
    
            var popup_dd0fc5d3968646a8b2f7897ebfe8c1e1 = L.popup({maxWidth: '300'});

            
                var html_7d2bb21712f34d4b81252f104944048a = $('<div id="html_7d2bb21712f34d4b81252f104944048a" style="width: 100.0%; height: 100.0%;">Twins Territory</div>')[0];
                popup_dd0fc5d3968646a8b2f7897ebfe8c1e1.setContent(html_7d2bb21712f34d4b81252f104944048a);
            

            marker_66ed6389506a40ccbf2ded63a37e1602.bindPopup(popup_dd0fc5d3968646a8b2f7897ebfe8c1e1);

            
        
    

            var marker_76bef980db37494b9acc5c734a39f3ec = L.marker(
                [44.0172242,-93.5885716],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c8c0d7cf202343939fdccfde8e6ac4e9);
            
    
            var popup_ba0389661dc94dbca9cc508319077572 = L.popup({maxWidth: '300'});

            
                var html_523553d740bd45bb9253f41a9fd604a0 = $('<div id="html_523553d740bd45bb9253f41a9fd604a0" style="width: 100.0%; height: 100.0%;">Waseca, MN</div>')[0];
                popup_ba0389661dc94dbca9cc508319077572.setContent(html_523553d740bd45bb9253f41a9fd604a0);
            

            marker_76bef980db37494b9acc5c734a39f3ec.bindPopup(popup_ba0389661dc94dbca9cc508319077572);

            
        
    

            var marker_7b390e55185c473da34c9f0e5a2bd0a3 = L.marker(
                [32.753177,-97.3327458],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c8c0d7cf202343939fdccfde8e6ac4e9);
            
    
            var popup_32ea1de8d61d4a30a7c22b97b5953c9a = L.popup({maxWidth: '300'});

            
                var html_e1dd486b80df4b1080a7165b43e3b82b = $('<div id="html_e1dd486b80df4b1080a7165b43e3b82b" style="width: 100.0%; height: 100.0%;">Fort Worth, TX</div>')[0];
                popup_32ea1de8d61d4a30a7c22b97b5953c9a.setContent(html_e1dd486b80df4b1080a7165b43e3b82b);
            

            marker_7b390e55185c473da34c9f0e5a2bd0a3.bindPopup(popup_32ea1de8d61d4a30a7c22b97b5953c9a);

            
        
    

            var marker_d5d4060023da45efaabe50dd3f9b1632 = L.marker(
                [31.549333,-97.1466694],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c8c0d7cf202343939fdccfde8e6ac4e9);
            
    
            var popup_618a1958ca8b4e1687976d56d7f8feef = L.popup({maxWidth: '300'});

            
                var html_5faceccaec3f44bcb05cb8fc46a302d8 = $('<div id="html_5faceccaec3f44bcb05cb8fc46a302d8" style="width: 100.0%; height: 100.0%;">Waco, TX</div>')[0];
                popup_618a1958ca8b4e1687976d56d7f8feef.setContent(html_5faceccaec3f44bcb05cb8fc46a302d8);
            

            marker_d5d4060023da45efaabe50dd3f9b1632.bindPopup(popup_618a1958ca8b4e1687976d56d7f8feef);

            
        
    

            var marker_75eb25db9416410fa9e8cfb44fea9d12 = L.marker(
                [39.1670396,-86.534288],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c8c0d7cf202343939fdccfde8e6ac4e9);
            
    
            var popup_d537194e678f46c49ebfcdd4d0d94725 = L.popup({maxWidth: '300'});

            
                var html_e0498a9f20cc41328a4d9539595d4d15 = $('<div id="html_e0498a9f20cc41328a4d9539595d4d15" style="width: 100.0%; height: 100.0%;">Bloomington</div>')[0];
                popup_d537194e678f46c49ebfcdd4d0d94725.setContent(html_e0498a9f20cc41328a4d9539595d4d15);
            

            marker_75eb25db9416410fa9e8cfb44fea9d12.bindPopup(popup_d537194e678f46c49ebfcdd4d0d94725);

            
        
    

            var marker_1f725cd202914f51ae31f8a2ccefff2d = L.marker(
                [31.8160381,-99.5120985],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c8c0d7cf202343939fdccfde8e6ac4e9);
            
    
            var popup_0e9d326b39bb45ddb1507e6a322242de = L.popup({maxWidth: '300'});

            
                var html_20107557507f4fb387443ee657cbe208 = $('<div id="html_20107557507f4fb387443ee657cbe208" style="width: 100.0%; height: 100.0%;">Texas</div>')[0];
                popup_0e9d326b39bb45ddb1507e6a322242de.setContent(html_20107557507f4fb387443ee657cbe208);
            

            marker_1f725cd202914f51ae31f8a2ccefff2d.bindPopup(popup_0e9d326b39bb45ddb1507e6a322242de);

            
        
    

            var marker_b52810082b0847c78e339648f7c9e613 = L.marker(
                [46.8772292,-96.7898209],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c8c0d7cf202343939fdccfde8e6ac4e9);
            
    
            var popup_c1ddac8ed17e47adbb454e076f0f2561 = L.popup({maxWidth: '300'});

            
                var html_c4105c4a7c074203adfc6cd91a2ef46f = $('<div id="html_c4105c4a7c074203adfc6cd91a2ef46f" style="width: 100.0%; height: 100.0%;">Fargo, ND</div>')[0];
                popup_c1ddac8ed17e47adbb454e076f0f2561.setContent(html_c4105c4a7c074203adfc6cd91a2ef46f);
            

            marker_b52810082b0847c78e339648f7c9e613.bindPopup(popup_c1ddac8ed17e47adbb454e076f0f2561);

            
        
    

            var marker_690d8aa01fc14aa7b4f9dcecb82451e1 = L.marker(
                [44.9772995,-93.2654691],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c8c0d7cf202343939fdccfde8e6ac4e9);
            
    
            var popup_3503ef5c114543f9bdf8bf47cd289834 = L.popup({maxWidth: '300'});

            
                var html_e9ffa107234d4d78977260ed51fa4355 = $('<div id="html_e9ffa107234d4d78977260ed51fa4355" style="width: 100.0%; height: 100.0%;">Minneapolis, MN</div>')[0];
                popup_3503ef5c114543f9bdf8bf47cd289834.setContent(html_e9ffa107234d4d78977260ed51fa4355);
            

            marker_690d8aa01fc14aa7b4f9dcecb82451e1.bindPopup(popup_3503ef5c114543f9bdf8bf47cd289834);

            
        
    

            var marker_29b7745824d64c32802f8ccc31128990 = L.marker(
                [32.9762327,-96.5952702],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c8c0d7cf202343939fdccfde8e6ac4e9);
            
    
            var popup_1aedebdd96c04cc39de25c81898ea76c = L.popup({maxWidth: '300'});

            
                var html_0163eb6568fd46099de9b229fd4cdeeb = $('<div id="html_0163eb6568fd46099de9b229fd4cdeeb" style="width: 100.0%; height: 100.0%;">Sachse Texas</div>')[0];
                popup_1aedebdd96c04cc39de25c81898ea76c.setContent(html_0163eb6568fd46099de9b229fd4cdeeb);
            

            marker_29b7745824d64c32802f8ccc31128990.bindPopup(popup_1aedebdd96c04cc39de25c81898ea76c);

            
        
    

            var marker_d9562b0d0cbd44b39b18ec80d2a85070 = L.marker(
                [32.7762719,-96.7968558],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c8c0d7cf202343939fdccfde8e6ac4e9);
            
    
            var popup_2908802192d74e139756f439ddf7ed71 = L.popup({maxWidth: '300'});

            
                var html_0d60d98ab9244459a7f8d12c051aa1e4 = $('<div id="html_0d60d98ab9244459a7f8d12c051aa1e4" style="width: 100.0%; height: 100.0%;">Dallas, TX</div>')[0];
                popup_2908802192d74e139756f439ddf7ed71.setContent(html_0d60d98ab9244459a7f8d12c051aa1e4);
            

            marker_d9562b0d0cbd44b39b18ec80d2a85070.bindPopup(popup_2908802192d74e139756f439ddf7ed71);

            
        
    

            var marker_6db31f98efcf455c8fbbdfe94a03fae0 = L.marker(
                [47.769723,-99.9354039],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c8c0d7cf202343939fdccfde8e6ac4e9);
            
    
            var popup_fc27fa616ed84716ac4e6e0da2e60588 = L.popup({maxWidth: '300'});

            
                var html_47ca0b77fb9c40c3a74ae45fefd32025 = $('<div id="html_47ca0b77fb9c40c3a74ae45fefd32025" style="width: 100.0%; height: 100.0%;">Harvey, ND</div>')[0];
                popup_fc27fa616ed84716ac4e6e0da2e60588.setContent(html_47ca0b77fb9c40c3a74ae45fefd32025);
            

            marker_6db31f98efcf455c8fbbdfe94a03fae0.bindPopup(popup_fc27fa616ed84716ac4e6e0da2e60588);

            
        
    

            var marker_18603a16e16f4cfca5023f43095b6621 = L.marker(
                [4.5980478,-74.0760866],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c8c0d7cf202343939fdccfde8e6ac4e9);
            
    
            var popup_65e985c3618a4157ad176b4653a59099 = L.popup({maxWidth: '300'});

            
                var html_6ba4b7ab5ed3458791e32628ab3b1051 = $('<div id="html_6ba4b7ab5ed3458791e32628ab3b1051" style="width: 100.0%; height: 100.0%;">Bogota, Colombia</div>')[0];
                popup_65e985c3618a4157ad176b4653a59099.setContent(html_6ba4b7ab5ed3458791e32628ab3b1051);
            

            marker_18603a16e16f4cfca5023f43095b6621.bindPopup(popup_65e985c3618a4157ad176b4653a59099);

            
        
    

            var marker_5af2269f51a644c2b393b2ac4aecbf44 = L.marker(
                [44.9772995,-93.2654691],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c8c0d7cf202343939fdccfde8e6ac4e9);
            
    
            var popup_06b1f338face49d680ebce8cb2ce2334 = L.popup({maxWidth: '300'});

            
                var html_54d4f077d31c4612a2d50324e075c807 = $('<div id="html_54d4f077d31c4612a2d50324e075c807" style="width: 100.0%; height: 100.0%;">Minneapolis, MN</div>')[0];
                popup_06b1f338face49d680ebce8cb2ce2334.setContent(html_54d4f077d31c4612a2d50324e075c807);
            

            marker_5af2269f51a644c2b393b2ac4aecbf44.bindPopup(popup_06b1f338face49d680ebce8cb2ce2334);

            
        
    

            var marker_0e655713af364d408d0c70c32a8e7879 = L.marker(
                [36.1662859,-115.1492249],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c8c0d7cf202343939fdccfde8e6ac4e9);
            
    
            var popup_6fece3425b544126bee377db433a8fb1 = L.popup({maxWidth: '300'});

            
                var html_9a9de008a17145689b6f41727ef9b7a0 = $('<div id="html_9a9de008a17145689b6f41727ef9b7a0" style="width: 100.0%; height: 100.0%;">Las Vegas, NV</div>')[0];
                popup_6fece3425b544126bee377db433a8fb1.setContent(html_9a9de008a17145689b6f41727ef9b7a0);
            

            marker_0e655713af364d408d0c70c32a8e7879.bindPopup(popup_6fece3425b544126bee377db433a8fb1);

            
        
    

            var marker_ee48ef94b23e46bd9be9863393c19730 = L.marker(
                [44.9772995,-93.2654691],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c8c0d7cf202343939fdccfde8e6ac4e9);
            
    
            var popup_c8bb4df9a1e546fdad37a7f309c0ff10 = L.popup({maxWidth: '300'});

            
                var html_f39737cdec7c438bb5558b6a363d44ff = $('<div id="html_f39737cdec7c438bb5558b6a363d44ff" style="width: 100.0%; height: 100.0%;">Minneapolis, MN</div>')[0];
                popup_c8bb4df9a1e546fdad37a7f309c0ff10.setContent(html_f39737cdec7c438bb5558b6a363d44ff);
            

            marker_ee48ef94b23e46bd9be9863393c19730.bindPopup(popup_c8bb4df9a1e546fdad37a7f309c0ff10);

            
        
    

            var marker_7db33be4a55a414382af7ec01f663b84 = L.marker(
                [46.8739081,-96.7538673],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c8c0d7cf202343939fdccfde8e6ac4e9);
            
    
            var popup_7843cb05a20841cbbecb2a7074b415b9 = L.popup({maxWidth: '300'});

            
                var html_33f4883f6dba4edcb18147d419191195 = $('<div id="html_33f4883f6dba4edcb18147d419191195" style="width: 100.0%; height: 100.0%;">Moorhead, MN</div>')[0];
                popup_7843cb05a20841cbbecb2a7074b415b9.setContent(html_33f4883f6dba4edcb18147d419191195);
            

            marker_7db33be4a55a414382af7ec01f663b84.bindPopup(popup_7843cb05a20841cbbecb2a7074b415b9);

            
        
    

            var marker_7e438726a21141cca38e6a0f2a4389c1 = L.marker(
                [32.7762719,-96.7968558],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c8c0d7cf202343939fdccfde8e6ac4e9);
            
    
            var popup_c698557230ed4882ab5897b6a5c91581 = L.popup({maxWidth: '300'});

            
                var html_a6c2cab126c74376a53d4174e824b604 = $('<div id="html_a6c2cab126c74376a53d4174e824b604" style="width: 100.0%; height: 100.0%;">Dallas, TX</div>')[0];
                popup_c698557230ed4882ab5897b6a5c91581.setContent(html_a6c2cab126c74376a53d4174e824b604);
            

            marker_7e438726a21141cca38e6a0f2a4389c1.bindPopup(popup_c698557230ed4882ab5897b6a5c91581);

            
        
    

            var marker_fa29da444f904c5d93d531bf3fd1f61a = L.marker(
                [34.395342,-111.7632754],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c8c0d7cf202343939fdccfde8e6ac4e9);
            
    
            var popup_db2612cf41f242bab57785fbd277f2f4 = L.popup({maxWidth: '300'});

            
                var html_74fc977d5acc4655bda43e13408e8159 = $('<div id="html_74fc977d5acc4655bda43e13408e8159" style="width: 100.0%; height: 100.0%;">Arizona, USA</div>')[0];
                popup_db2612cf41f242bab57785fbd277f2f4.setContent(html_74fc977d5acc4655bda43e13408e8159);
            

            marker_fa29da444f904c5d93d531bf3fd1f61a.bindPopup(popup_db2612cf41f242bab57785fbd277f2f4);

            
        
    

            var marker_a7d9c20fb04c47bcb504c72d2e4d26df = L.marker(
                [40.5475968,-75.5612969],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c8c0d7cf202343939fdccfde8e6ac4e9);
            
    
            var popup_cfcd70d72ad041d2a0d9215de9c9fc3d = L.popup({maxWidth: '300'});

            
                var html_fe52244cbdb9449dbb554f25ae1a0e85 = $('<div id="html_fe52244cbdb9449dbb554f25ae1a0e85" style="width: 100.0%; height: 100.0%;">East Texas</div>')[0];
                popup_cfcd70d72ad041d2a0d9215de9c9fc3d.setContent(html_fe52244cbdb9449dbb554f25ae1a0e85);
            

            marker_a7d9c20fb04c47bcb504c72d2e4d26df.bindPopup(popup_cfcd70d72ad041d2a0d9215de9c9fc3d);

            
        
    

            var marker_d633f681b161460a8484ede8332229f2 = L.marker(
                [44.9511414,-92.2925598],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c8c0d7cf202343939fdccfde8e6ac4e9);
            
    
            var popup_4962b17b2ee041b892b41de0227dea48 = L.popup({maxWidth: '300'});

            
                var html_56472d05f5254f1dbdaea7ac8e5437f9 = $('<div id="html_56472d05f5254f1dbdaea7ac8e5437f9" style="width: 100.0%; height: 100.0%;">Woodville, WI</div>')[0];
                popup_4962b17b2ee041b892b41de0227dea48.setContent(html_56472d05f5254f1dbdaea7ac8e5437f9);
            

            marker_d633f681b161460a8484ede8332229f2.bindPopup(popup_4962b17b2ee041b892b41de0227dea48);

            
        
    

            var marker_141e2d18bd134b74bcf948e5b4cc34ea = L.marker(
                [44.9511414,-92.2925598],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c8c0d7cf202343939fdccfde8e6ac4e9);
            
    
            var popup_6b39307acd63458ab6f0744c9c670c66 = L.popup({maxWidth: '300'});

            
                var html_1087d07c633546c995389a744b871dd1 = $('<div id="html_1087d07c633546c995389a744b871dd1" style="width: 100.0%; height: 100.0%;">Woodville, WI</div>')[0];
                popup_6b39307acd63458ab6f0744c9c670c66.setContent(html_1087d07c633546c995389a744b871dd1);
            

            marker_141e2d18bd134b74bcf948e5b4cc34ea.bindPopup(popup_6b39307acd63458ab6f0744c9c670c66);

            
        
    

            var marker_dbb21ee574004259bf613328b088ef0d = L.marker(
                [32.701939,-97.1400558642286],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c8c0d7cf202343939fdccfde8e6ac4e9);
            
    
            var popup_39d12e632f5045769bfec13c801575f4 = L.popup({maxWidth: '300'});

            
                var html_aa652fd924304a679a32d9795d6064c4 = $('<div id="html_aa652fd924304a679a32d9795d6064c4" style="width: 100.0%; height: 100.0%;">Arlington TX</div>')[0];
                popup_39d12e632f5045769bfec13c801575f4.setContent(html_aa652fd924304a679a32d9795d6064c4);
            

            marker_dbb21ee574004259bf613328b088ef0d.bindPopup(popup_39d12e632f5045769bfec13c801575f4);

            
        
    

            var marker_46d259684668467ab4402359d728ac7a = L.marker(
                [44.9772995,-93.2654691],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c8c0d7cf202343939fdccfde8e6ac4e9);
            
    
            var popup_912e1f0b49d34c9285de85bdcf26fc51 = L.popup({maxWidth: '300'});

            
                var html_0b55d1996b3947a2a0f82570a46fcb6a = $('<div id="html_0b55d1996b3947a2a0f82570a46fcb6a" style="width: 100.0%; height: 100.0%;">Minneapolis </div>')[0];
                popup_912e1f0b49d34c9285de85bdcf26fc51.setContent(html_0b55d1996b3947a2a0f82570a46fcb6a);
            

            marker_46d259684668467ab4402359d728ac7a.bindPopup(popup_912e1f0b49d34c9285de85bdcf26fc51);

            
        
    

            var marker_4145fc860ae441daad9a98a84215dc1e = L.marker(
                [45.027513,-84.6747519],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c8c0d7cf202343939fdccfde8e6ac4e9);
            
    
            var popup_129fe7f2748b4c548dac26af6dedd554 = L.popup({maxWidth: '300'});

            
                var html_3bb7dd1234ba4a72b66a948ab94a42a0 = $('<div id="html_3bb7dd1234ba4a72b66a948ab94a42a0" style="width: 100.0%; height: 100.0%;">Gaylord</div>')[0];
                popup_129fe7f2748b4c548dac26af6dedd554.setContent(html_3bb7dd1234ba4a72b66a948ab94a42a0);
            

            marker_4145fc860ae441daad9a98a84215dc1e.bindPopup(popup_129fe7f2748b4c548dac26af6dedd554);

            
        
</script>