{% extends 'twitter_dashboard/base.html' %}
{% block content %}

<h2>Twitter Dashboard</h2>
<div id="top_trending">
  <p> Top Trending Tweets </p>
</div>

<div id="stop_button">
  <form method="POST" action="{% url 'tweet_list' %}">
  {% csrf_token %}
  <button type="submit">Stop Search</button>
  </form>
</div>

<div>
  <form method="POST" action="{% url 'live_tweets' %}">
  {% csrf_token %}
  <input type="text" id="search_tweets" name="search" placeholder="Search Tweets...." value ="">
  <button id="search_button" type="submit" value ="search_tweets">Search!</button>
  </form>
</div>

<div id="save_button">
  <form method="POST" action="{% url 'save_information' %}">
  {% csrf_token %}
  <button type="submit" >Save</button>
  </form>
</div>

<div class="hover_globe">
  <input type="button" class="tweet_globe" id="open_location_map" onclick="window.open('{% url 'map_location' %}','_blank')"/>
  <div class="middle_globe">
    <div class="text">Press to view locations of Tweets</div>
  </div>
</div>

<div>
  <ol id="top_ten">
  {% for name in names %}
      <li>{{ name.name }}</li>
  {% endfor %}
  </ol>
</div>


<div>
  <nav>
  <p id="live_tweet">Live Tweets</p>
  <ol id="tweet_real_time">
  </ol>
</nav>
</div>

<script>
function cpu_system() {

  var xml_http_requests;

  if (window.XMLHttpRequest)

    {//requests for newer browsers

    xml_http_requests = new XMLHttpRequest();

    }

  else

    {// requests for older browsers

    xml_http_requests = new ActiveXObject("Microsoft.XMLHTTP");

    }

  xml_http_requests.onreadystatechange = function()

    {

    if (xml_http_requests.readyState==4 && xml_http_requests.status==200)

      {

      document.getElementById("tweet_real_time").innerHTML = xml_http_requests.responseText;

      }

    };
    // gets the system.txt file and refreshes it every 3 seconds or so
  setInterval(function() {

    xml_http_requests.open("GET", "/static/text/system.txt", true);

    xml_http_requests.send();

  }, 3000);

}
// runs this script on startup
window.onload = cpu_system;

</script>


{% endblock %}
